<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <ul>
            <% for (var i = 0; i < items.length; i++) { %>
                <li>File Path: <%= items[i].desc %> <br>FileID: <%= items[i].fileID%></li>
            <% } j = 0;%>
        </ul>

        <form action="/files" method="post">
            <h3>POST /files</h3>
            <label>File Name: </label><input type="text" name="fileName"><br>
            <label>File Extension: </label><input type="text" name="fileExtension">
            <input type="submit" value="POST">
            <br><br>
        </form>

        <form id="getID" action="/files/" method="get">
            <h3>GET /files/{fileID}</h3>
            <label>File ID: </label><input type="text" id="fileID"/>
            <input type="submit">
            <script>
                var form = document.getElementById('getID'),
                fileIdInput = document.getElementById('fileID'),
                baseAction = form.getAttribute('action');

                form.addEventListener('submit', function() {
                    form.setAttribute('action', baseAction + fileIdInput.value);
                    return true;
                });
            </script>
            <br><br>
        </form>

        <form id="getData" action="/files/" method="get">
            <h3>GET /files/{fileId}/data</h3>
            <label>File ID: </label><input type="text" id="fileID2">
            <input type="submit">
            <script>
                var form2 = document.getElementById('getData'),
                        fileIdInput2 = document.getElementById('fileID2'),
                        baseAction2 = form.getAttribute('action');

                form2.addEventListener('submit', function() {
                    form2.setAttribute('action', baseAction2 + fileIdInput2.value + '/data');
                    return true;
                });
            </script>
            <br><br>
        </form>
    </div>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>